<mat-card>
  <mat-card-content>
    <mat-card-title>
      Please enter your address
    </mat-card-title>
    <form [formGroup]="addressForm" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Steet Address" formControlName="streetAddressOne">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Steet Address Cont." formControlName="streetAddressTwo">
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput type="text" placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="State" formControlName="state">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Zip Code" formControlName="zip">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="addressForm.invalid" [class.disabled]="addressForm.invalid">Submit</button>
  </mat-card-actions>
</mat-card>
