.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

img {
  margin-left: 10px;
  margin-top: 10px;
}

a {
  color: inherit;
  text-decoration: inherit; 
}