<mat-toolbar color="primary">
  <span> Application State Examples </span>
  <span class="spacer"></span>
  <span>Paul Spears - @dpsthree</span>
  <a target="tab" mat-button href="https://twitter.com/dpsthree?ref_src=twsrc%5Etfw">
    <img width="32px" src="assets/twitter.png">
  </a>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="mat-elevation-z2">
    <mat-nav-list>
      <a mat-list-item routerLink="router-state">Router State Example</a>
      <a mat-list-item routerLink="form-state">Form State Example</a>
      <a mat-list-item routerLink="service-state">Service State Example</a>
      <a mat-list-item routerLink="ngrx-state">ngrx State Example</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
